<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>新增消費</h1>
    <form>
        <legend>消費項目</legend>
        <input type="" name="" value="">
        <legend>消費金額</legend>
        <input type="" name="" value="">
        <legend>消費類別</legend>
        <select>
            <option value="">食</option>
            <option value="">衣</option>
            <option value="">住</option>
            <option value="">行</option>
        </select>
        <button type="submit">提交消費</button>
    </form>
</body>
</html>