{% extends 'layouts/layout.html' %}

{% block content %}
<div class="container main-container">
    <h1>新增消費</h1>
    <hr>
    <form action="/accounts/create" method="POST">
        <div>
            {{ form.csrf_token }}
            <label for="">消費項目</label>
            <input class="form-control" type="text" name="title" placeholder="請輸入消費項目" required>
            <label for="">消費類別</label>
            <select class="form-control" name="types" required>
                <option value="eat">食</option>
                <option value="cloth">衣</option>
                <option value="home">住</option>
                <option value="go">行</option>
                <option value="play">育樂</option>
            </select>
            <label for="">消費金額</label>
            <input class="form-control" type="number" name="cost" placeholder="請輸入消費金額" required>
            <hr>
            <button class="btn btn-primary btn-block" type="submit">提交送出</button>
        </div>
    </form>
</div>
{% endblock %}
