{% extends 'layouts/layout.html' %}

{% block content %}
<div>
	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container">
			<h1>記錄生活中的每筆消費</h1>
			<p>這是一個使用 Python Flask 寫的記帳 Web App</p>
			<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
		</div>
	</div>
    <div class="container">
        <table class="table table-hover">
            <tr>
                <th>消費項目</th>
                <th>消費類別</th>
                <th>消費費用</th>
                <th>操作</th>
            </tr>        
        {% for account in accounts %}
            <tr>
                <td><a href="/accounts/{{ account.id }}">{{ account.title }}</a></td>
                <td>{{ account.types }}</td>
                <td>{{ account.cost }}</td>
                <td>
                    <a href="/accounts/{{ account.id }}/update"><button class="btn btn-warning" type="btn">修改</button></a>
                    <form action="/accounts/{{ account.id }}/delete" method="POST">
                        {{ form.csrf_token }}
                        <button class="btn btn-danger" type="submit">刪除</button>    
                    </form>
                </td>
            </tr>    
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
